.page {
  min-height: 80vh;
  max-width: 1200px;
  width: 80%;
  padding-top: 5.5rem;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .page {
    width: 90%;
  }
}

@media (max-width: 415px) {
  .page {
    width: 95%;
  }
}
