.likeButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: none;
  border: none;
  font-size: 4rem;
  line-height: 0;

  transition: all 0.05s ease-in;

  &:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.15));

    &:active {
      transform: scale(0.9);
      filter: none;
    }
  }
}
