.likeButton {
  // display: inline-block;
  background: none;
  border: none;
  float: right;
  font-size: 3rem;
  line-height: 0;
  transition: all 0.05s ease-in;

  &:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.15));

    &:active {
      transform: scale(0.9);
      filter: none;
    }
  }
}
