@import '../../../styles/scss/abstracts/mixins';

.footer {
  width: 100%;
  height: 5rem;

  .footerInner {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #545353;

    p {
      font-size: 1.3rem;
      font-weight: 500;
    }

    ul {
      li {
        display: inline-block;

        font-size: 1.6rem;
        font-weight: 700;
      }

      circle {
        display: inline-block;
        background-color: black;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
      }
    }

    .footerLinks {
      li {
        @extend %nav-link;

        &:not(:last-child) {
          margin-right: 6rem;
        }
      }
    }

    .socials {
      li {
        &:not(:last-child) {
          margin-right: 1.75rem;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .footer {
    .footerInner {
      .footerLinks {
        li {
          &:not(:last-child) {
            margin-right: 3rem;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .footer {
    .footerInner {
      width: 90%;
    }
  }
}

@media (max-width: 660px) {
  .footer {
    .footerInner {
      flex-flow: column;
      :not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }
}
