@import '../../styles/scss/abstracts/mixins';

.blogCard {
  @extend %gray-border;
  @extend %card-hover;
  position: relative;
  padding: 2rem;
  padding-top: 6rem;
  width: 100%;
  min-height: 25rem;

  .postIcon {
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }

  .postTitle {
    font-size: 1.8rem;
    font-weight: 700;
    min-height: 5rem;
  }

  .cardActions {
    width: 83%;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .postLink {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
