@import '../abstracts/variables';

%gray-border {
  border: 1px solid $color-border;
  border-radius: 27px;
}

%nav-link {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

%clear-fix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
