//Colors

//Main
$color-primary: #ff5656;
$color-border: #d4d4d4;

//Light Theme
$lt-background: #ffffff;
$color-dark: #31353b;
$lt-text: #545353;
$lt-text-alt: #d4d4d4;
$lt-button: #000000;
$lt-button-text: #f1f1f1;

//Dark Theme
$dt-background: #1e1e1e;
$color-light: #f1f1f1;
$dt-text: #d4d4d4;
$dt-text-alt: #545353;
$dt-button: #f1f1f1;
$dt-button-text: #000000;
