@import '../../../styles/scss/abstracts/mixins';

.navContainer {
  width: 100%;
  min-height: 10vh;
  padding-top: 2.5rem;
  .navInner {
    width: 85%;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    .brand {
      cursor: pointer;

      .navTitle {
        margin: 0;
        display: inline-block;
        font-size: 2.3rem;
        font-weight: 800;

        span {
          font-size: inherit;
        }
      }
    }

    .nav {
      position: relative;
      display: inline-block;
      display: flex;
      align-items: center;

      ul {
        list-style: none;
        text-decoration: none;

        li {
          @extend %nav-link;
          font-size: 1.7rem;
          font-weight: 700;

          float: left;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .navContainer {
    .navInner {
      width: 90%;
    }
  }
}

@media (max-width: 768px) {
  .navContainer {
    .navInner {
      .nav {
        height: 3rem;
        width: 10rem;
      }
    }
  }
}

@media (max-width: 415px) {
  .navContainer {
    .navInner {
      width: 95%;
    }
  }
}
