@import '../../../styles/scss/abstracts/mixins';
.contactForm {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  .inputContainer {
    input {
      @extend %gray-border;
      position: relative;
      display: block;
      width: 100%;
      border-radius: 12px;
      height: 5rem;
      padding: 1rem;
      margin-bottom: 4rem;
      font-size: 2.1rem;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &::placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2.1rem;
        transition: all 0.3s ease-out;
      }

      &:focus {
        height: 6rem;
        &::placeholder {
          transform: translateY(-100px);
          color: transparent;
        }
      }
    }

    textarea {
      &:last-child {
        height: 6rem;
        width: 100%;
        resize: none;

        position: relative;
        display: block;
        border: 1px solid #cbcbcb;
        border-radius: 12px;
        height: 5rem;
        padding: 1rem;
        margin-bottom: 5rem;
        font-size: 2.1rem;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &::placeholder {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 2.1rem;
          transition: all 0.3s ease-out;
        }

        &:focus {
          height: 13rem;
          &::placeholder {
            transform: translateY(-100px);
            color: transparent;
          }
        }
      }
    }
  }
}
