@import '../../../styles/scss/abstracts/variables';
@import '../../../styles/scss/abstracts/mixins';

.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .status {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
  }
}

.contactForm {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  .inputContainer {
    .control {
      position: relative;
      margin-bottom: 4rem;

      p {
        margin-top: 1rem;
        margin-left: 1.2rem;
        margin-right: 0;
        margin-bottom: 0;
        font-size: 1.3rem;
      }

      label {
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        font-size: 2.1rem;
        transition: transform 0.3s ease-in;
        z-index: 100;
      }

      input:not(:placeholder-shown) ~ label,
      textarea:not(:placeholder-shown) ~ label {
        transform: translate(-15px, -55px);
      }

      &:focus-within {
        input ~ label,
        input:not(:placeholder-shown) ~ label {
          transform: translate(-15px, -60px);
        }
        textarea ~ label,
        textarea:not(:placeholder-shown) ~ label {
          transform: translate(-15px, -95px);
        }
      }

      &.error {
        border-color: $color-error;

        &:focus-within {
          label {
            color: $color-error;
            transform: translate(-15px, -75px);
          }
          textarea ~ label {
            color: $color-error;
            transform: translate(-15px, -110px);
          }

          input,
          textarea {
            border-color: $color-error;
            outline-color: $color-error;
            &:focus-visible,
            :focus {
              border-color: $color-error;
              outline: $color-error;
            }
          }
        }

        input,
        textarea {
          border-color: $color-error;
          outline-color: $color-error;
        }
        label {
          color: $color-error;
          transform: translate(0, -100%);
        }
      }

      input {
        @extend %gray-border;
        position: relative;
        display: block;
        width: 100%;
        border-radius: 12px;
        height: 5rem;
        padding: 1rem;
        font-size: 2.1rem;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &:focus {
          height: 6rem;
        }
      }

      textarea {
        height: 6rem;
        width: 100%;
        resize: none;

        display: block;
        border: 1px solid #cbcbcb;
        border-radius: 12px;
        height: 5rem;
        padding: 1rem;
        font-size: 2.1rem;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &:focus {
          height: 13rem;
        }
      }
    }
  }
}
